body{
    padding: 1%;
}
table {
    border: 1px solid black;
}
th, td{
    border: 2px solid white;
    padding: 3%;
}
tr > th{
    background-color: #FF7100;
}
tr > td{
    background-color: #FF7100;
}
.two{
    background-color: #FFB26D;
}
.three{
    background-color: #A84A00;
}