body{
    padding: 1%;
}
table {
    border: 1px solid black;
}
th, td{
    border: 2px solid white;
    padding: 3%;
}

/*one*/
table td:nth-child(1){
    background-color:#CCCCCC;
}
table td:nth-child(5){
    background-color:#CCCCCC;
}
table td:nth-child(9){
    background-color:#CCCCCC;
}
table td:nth-child(13){
    background-color:#CCCCCC;
}
/*two*/
table td:nth-child(2){
    background-color: #999999;
}
table td:nth-child(6){
    background-color: #999999;
}
table td:nth-child(10){
    background-color: #999999;
}
table td:nth-child(14){
    background-color: #999999;
}
/*three*/
table td:nth-child(3){
    background-color: #666666;
}
table td:nth-child(7){
    background-color: #666666;
}
table td:nth-child(11){
    background-color: #666666;
}
table td:nth-child(15){
    background-color: #666666;
}
/*four*/
table td:nth-child(4){
    background-color: #333333;
}
table td:nth-child(8){
    background-color: #333333;
}
table td:nth-child(12){
    background-color: #333333;
}
table td:nth-child(16){
    background-color: #333333;
}