body{
    padding: 1%;
}
table {
    border: 2px solid #E67F7E;
}
th, td{
    padding: 3%;
}

table tr:nth-child(even){
    background-color:#E67F7E;
}
table td:nth-child(even){
    background-color:#E67F7E;
}

.bgRed{
    background-color:#D83E3B !important;
}

/* body{
    background-color: white;
    background-image: linear-gradient(90deg, rgba(200,0,0,0.5) 50%, transparent 50%),
    linear-gradient(rgba(200,0,0,0.5) 50%, transparent 50%);
    background-size: 50px 50px;
} */
/* #allbody{
    width: 700px;
    height: 500px;
    background-color: white;
    background-image: linear-gradient(90deg, rgba(200,0,0,0.5) 50%, transparent 50%),
    linear-gradient(rgba(200,0,0,0.5) 50%, transparent 50%);
    background-size: 50px 50px;
} */