#fullBody{
    width: 815px;
}
.triangle-one{
    position: relative;
    top: -195px;
    right: 4px;
    display : inline-block;
    height : 0;
    width : 0;
    border-top : 65px solid transparent;
    border-bottom : 65px solid transparent;
    border-left : 113px solid #A749A8;
}
.triangle-two{
    position: relative;
    top: -195px;
    display : inline-block;
    height : 0;
    width : 0;
    border-top : 65px solid transparent;
    border-right : 113px solid #49A6A7;
    border-bottom : 65px solid transparent;
}
.triangle-three{
    position: relative;
    top: -285px;
    display : inline-block;
    height : 0;
    width : 0;
    border-top : 65px solid transparent;
    border-right : 113px solid #FFC13F;
    border-bottom : 65px solid transparent;
}
.triangle-four{
    position: relative;
    top: -285px;
    right: 4px;
    display : inline-block;
    height : 0;
    width : 0;
    border-top : 65px solid transparent;
    border-bottom : 65px solid transparent;
    border-left : 113px solid #FFE53A;
    margin-top: 20px;
}
.triangle-five{
    position: relative;
    top: -125px;
    right: 4px;
    display : inline-block;
    height : 0;
    width : 0;
    border-top : 65px solid transparent;
    border-bottom : 65px solid transparent;
    border-left : 113px solid #A9DDF2;
}
.triangle-six{
    position: relative;
    top: -125px;
    display : inline-block;
    height : 0;
    width : 0;
    border-top : 65px solid transparent;
    border-right : 113px solid #FF4B47;
    border-bottom : 65px solid transparent;
}
.triangle-five-bis{
    position: relative;
    top: -355px;
    right: 4px;
    display : inline-block;
    height : 0;
    width : 0;
    border-top : 65px solid transparent;
    border-bottom : 65px solid transparent;
    border-left : 113px solid #A9DDF2;
}
.triangle-six-bis{
    position: relative;
    top: -355px;
    display : inline-block;
    height : 0;
    width : 0;
    border-top : 65px solid transparent;
    border-right : 113px solid #FF4B47;
    border-bottom : 65px solid transparent;
}
.triangle-one-bis{
    position: relative;
    top: -425px;
    right: 4px;
    display : inline-block;
    height : 0;
    width : 0;
    border-top : 65px solid transparent;
    border-bottom : 65px solid transparent;
    border-left : 113px solid #A749A8;
}
.triangle-two-bis{
    position: relative;
    top: -425px;
    display : inline-block;
    height : 0;
    width : 0;
    border-top : 65px solid transparent;
    border-right : 113px solid #49A6A7;
    border-bottom : 65px solid transparent;
}
.triangle-three-bis{
    position: relative;
    top: -515px;
    display : inline-block;
    height : 0;
    width : 0;
    border-top : 65px solid transparent;
    border-right : 113px solid #FFC13F;
    border-bottom : 65px solid transparent;
}
.triangle-four-bis{
    position: relative;
    top: -515px;
    right: 4px;
    display : inline-block;
    height : 0;
    width : 0;
    border-top : 65px solid transparent;
    border-bottom : 65px solid transparent;
    border-left : 113px solid #FFE53A;
    margin-top: 20px;
}
.triangle-five-bis-1{
    position: relative;
    top: -585px;
    right: 4px;
    display : inline-block;
    height : 0;
    width : 0;
    border-top : 65px solid transparent;
    border-bottom : 65px solid transparent;
    border-left : 113px solid #A9DDF2;
}
.triangle-six-bis-1{
    position: relative;
    top: -585px;
    display : inline-block;
    height : 0;
    width : 0;
    border-top : 65px solid transparent;
    border-right : 113px solid #FF4B47;
    border-bottom : 65px solid transparent;
}
.triangle-one-bis-1{
    position: relative;
    top: -655px;
    right: 4px;
    display : inline-block;
    height : 0;
    width : 0;
    border-top : 65px solid transparent;
    border-bottom : 65px solid transparent;
    border-left : 113px solid #A749A8;
}
.triangle-two-bis-1{
    position: relative;
    top: -655px;
    display : inline-block;
    height : 0;
    width : 0;
    border-top : 65px solid transparent;
    border-right : 113px solid #49A6A7;
    border-bottom : 65px solid transparent;
}
.triangle-three-bis-1{
    position: relative;
    top: -745px;
    display : inline-block;
    height : 0;
    width : 0;
    border-top : 65px solid transparent;
    border-right : 113px solid #FFC13F;
}
.triangle-four-bis-1{
    position: relative;
    top: -745px;
    right: 4px;
    display : inline-block;
    height : 0;
    width : 0;
    border-top : 65px solid transparent;
    border-left : 113px solid #FFE53A;
    margin-top: 20px;
}
.triangle-three-haut{
    position: relative;
    top: -55px;
    display : inline-block;
    height : 0;
    width : 0;
    /* border-top : 65px solid transparent; */
    border-right : 113px solid #FFC13F;
    border-bottom : 65px solid transparent;
}
.triangle-four-haut{
    position: relative;
    top: -55px;
    right: 4px;
    display : inline-block;
    height : 0;
    width : 0;
    /* border-top : 65px solid transparent; */
    border-bottom : 65px solid transparent;
    border-left : 113px solid #FFE53A;
    margin-top: 20px;
}